/* # is for ID, . is for class; ID is for one item, class is for more than one */
/* #top {
	background-color: #ccc;
	padding: 20px;
} */
/*
.intro {
	color: red;
	font-weight: bold;
} 

/* Grouping */

/* h2, .thisClass, .thatClass {
	color: red;
} */

/* Nesting */
/*
#top {
	background-color: #ccc;
	padding: 1em;
}

#top h1 {
	color: #ff0;
}

#top p {
	color: red;
	font-weight: bold; 
}

/* Pseudo classes */
/* Links */
/*
a:link {
	color: blue;
}

a:visited {
	color: purple;
}

/* dynamic pseudo classes */ 
/*
a:active {
	color: red;
}

a:hover {
	text-decoration: none;
	color: blue;
	background-color: yellow;
}

input:focus, textarea:focus {
	background: #eee;
}

/* First Children */
/*
p:first-child {
	font-weight: bold;
	font-size: 40px;
}

/* Shorthand Properties */

p {
	font: 14px/1.5 "Times New Roman", times, serif;
	padding: 30px 10px;  /* If there are 2 properties instead of four, the first is top/bottom, the second is left/right */
	border: 1px black solid;
	border-width: 1px 5px 5px 1px;
	border-color: red green blue yellow;
	margin: 10px 50px; /* same rules as padding */
}

/* Background Images */
/* background is a shorthand property that can deal with all of th basic background image manipulation */

body {
    background: white url(http://www.htmldog.com/badge1.gif) no-repeat top right;
}
