/* # is for ID, . is for class; ID is for one item, class is for more than one */
/* #top {
	background-color: #ccc;
	padding: 20px;
} */
/*
.intro {
	color: red;
	font-weight: bold;
} 

/* Grouping */

/* h2, .thisClass, .thatClass {
	color: red;
} */

/* Nesting */
/*
#top {
	background-color: #ccc;
	padding: 1em;
}

#top h1 {
	color: #ff0;
}

#top p {
	color: red;
	font-weight: bold; 
}

/* Pseudo classes */
/* Links */
/*
a:link {
	color: blue;
}

a:visited {
	color: purple;
}

/* dynamic pseudo classes */ 
/*
a:active {
	color: red;
}

a:hover {
	text-decoration: none;
	color: blue;
	background-color: yellow;
}

input:focus, textarea:focus {
	background: #eee;
}

/* First Children */
/*
p:first-child {
	font-weight: bold;
	font-size: 40px;
}

/* Shorthand Properties */

p {
	font: 14px/1.5 "Times New Roman", times, serif;
	padding: 30px 10px;  /* If there are 2 properties instead of four, the first is top/bottom, the second is left/right */
	border: 1px black solid;
	border-width: 1px 5px 5px 1px;
	border-color: red green blue yellow;
	margin: 10px 50px; /* same rules as padding */
}

/* Background Images */
/* background is a shorthand property that can deal with all of th basic background image manipulation */

body {
    background: white url(http://www.htmldog.com/badge1.gif) no-repeat top right;
}

/* Display: inline, block, none */
/* The display property also offers table-column, table-row-group, table-column-group, table-header-group, table-footer-group, and table-caption */

/* Pseudo Elements take the form of selector:pseudoelement { property: value; } */

p {
	font-size: 12px;
}

p:first-letter {
	font-size: 24px;
	float: left;
}

p:first-line {
	font-weight: bold;
}
 /* CSS3 specs suggest pseudo elements should have two colons to differentiate them from pseduo classes */

 /* Before and After Content */

 blockquote:before {
 	content: open-quote;
 }

 blockquote:after {
 	content: close-quote;
 }

 li:before {
 	content: "POW! ";
 }

 p:before {
 	content: url(images/jam.jpg);
 }

  li:before {
 	content: "POW! ";
 	background: red;
 	color: #fc0;
 }
